@page "/createquestion"

<EditForm Model="@question" OnValidSubmit="AddQuestion" class="container w-50">
    <DataAnnotationsValidator />
    <fieldset>
        <div class="form-group">
            <label for="input" class="form-label mt-4">Title</label>
            <InputText @bind-Value="question.Title" class="form-control" id="input" style="resize:none" />
            <ValidationMessage For="(() => question.Title)" />
        </div>
        <div class="form-group ">
            <label for="textarea" class="form-label mt-4">Content</label>
            <InputTextArea @bind-Value="question.Content" class="form-control" id="textarea" rows="3" style="resize:none"></InputTextArea>
            <ValidationMessage For="(() => question.Content)" />
        </div>
        <div class="form-group mb-3">
            <label for="textarea" class="form-label mt-4">Image</label><br />
            <img src="@question.Image" style="width:200px;height:200px;" /><br />
            <CascadingValue Value="@question.Image">
                <InputFile OnChange="OnInputFileChanged"></InputFile>
            </CascadingValue>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-25">Add</button>
        </div>
    </fieldset>
</EditForm>

@code {
    @inject IQuestionRepository _questionRepository;
    @inject NavigationManager navManager;
    @inject ILogger<CreateQuestion> _logger;

    private Question question = new();

    public async Task AddQuestion()
    {
        try
        {
            await _questionRepository.AddQuestionAsync(question); // Add the current question
            navManager.NavigateTo("/questions"); // Go to the question list component
        }
        catch (Exception ex)
        {
            _logger.LogError($"Failed to add question. Component: CreateQuestion Method: AddQuestion\n", ex);
        }
    }

    private async Task OnInputFileChanged(InputFileChangeEventArgs e)
    {
        var file = e.File; // Get the file
        var buffer = new byte[file.Size]; // Convert the file to a byte array
        await file.OpenReadStream().ReadAsync(buffer);
        question.Image = $"data:image/png;base64,{Convert.ToBase64String(buffer)}"; // Convert the byte array to a string
    }
}
