@page "/editquestion/{id}"

<EditForm Model="@question" OnValidSubmit="UpdateQuestion" class="container">
    <DataAnnotationsValidator />
    <fieldset>
        <div class="form-group">
            <label for="input" class="form-label mt-4">Title</label>
            <InputText @bind-Value="question.Title" class="form-control" id="input" style="resize:none" />
            <ValidationMessage For="(() => question.Title)" />
        </div>
        <div class="form-group">
            <label for="textarea" class="form-label mt-4">Content</label>
            <InputTextArea @bind-Value="question.Content" class="form-control" id="textarea" rows="3" style="resize:none"></InputTextArea>
            <ValidationMessage For="(() => question.Content)" />
        </div>
        <div class="form-group mb-3">
            <label for="textarea" class="form-label mt-4">Image</label><br />
            <img src="@question.Image" style="width:200px;height:200px;" /><br />
            <CascadingValue Value="@question.Image">
                <InputFile OnChange="OnInputFileChanged"></InputFile>
            </CascadingValue>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-25">Update</button>
            <NavLink class="btn btn-success w-25" href="/questions">Back</NavLink>
        </div>
    </fieldset>
</EditForm>

@code {
    @inject IRepository<Question> _questionRepository;
    @inject IWebHostEnvironment _hostEnvironment;
    @inject NavigationManager navManager;

    [Parameter] public string Id { get; set; }
    private Question question = new();

    protected override async Task OnInitializedAsync()
    {
        question = await _questionRepository.GetByIdAsync(int.Parse(Id)); // Store the question whose Id matches the parameter Id
    }

    public async Task UpdateQuestion()
    {
        await _questionRepository.UpdateAsync(question); // Update the current question
        navManager.NavigateTo("/questions"); // Go to the questions list component
    }

    public void DeleteImage()
    {
        string webRootPath = _hostEnvironment.WebRootPath; // Get path to wwwroot
        var imagePath = Path.Combine(webRootPath, question.Image.TrimStart('\\')); // Get the current image property path
        if (System.IO.File.Exists(imagePath)) // If the file exists in wwwroot\images
        {
            System.IO.File.Delete(imagePath); // Delete the file
        }
    }

    private async Task OnInputFileChanged(InputFileChangeEventArgs e)
    {
        DeleteImage(); // Delete old image before making a new one
        string webRootPath = _hostEnvironment.WebRootPath; // Get path to wwwroot
        var files = e.GetMultipleFiles();
        string fileName = Path.GetRandomFileName(); // Give the file(s) a random name
        var uploads = Path.Combine(webRootPath, @"images"); // Get path to wwwroot\images
        var extension = Path.GetExtension(files[0].Name); // Get the extension for the file(s)
        long newSize = 500000000;

        using (var fileStream = new FileStream(Path.Combine(uploads, fileName + extension), FileMode.Create))
        {
            await files[0].OpenReadStream(newSize).CopyToAsync(fileStream);
        }

        question.Image = @"\images\" + fileName + extension; // Set image property to the new files path
    }
}
