@page "/endscreen/{id}"

<div>
    <h3>Game Over</h3>

    <p>Your score is @player.Score</p>
    <button class="btn btn-primary" @onclick="@(() => navigationManager.NavigateTo("/"))">Exit</button>
</div>

@code {
    @inject IRepository<Player> _playerRepository
    @inject NavigationManager navigationManager

    [Parameter] public string Id { get; set; }
    private Player player = new();

    protected override async Task OnInitializedAsync()
    {
        player = await _playerRepository.GetByIdAsync(int.Parse(Id)); // Get the player from the database
    }
}
